<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>State:</strong>
    <%= user.state %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= user.number %>
  </p>

</div>
